<div class=" hero-unit">
  <form action="">
    <div class="controls controls-row">
        <input class="span8" id="youtube_url" type="text" value="http://www.youtube.com/watch?v=DE9NsrKzSq8" >
        <button id="load-video-btn" type="button" class="btn span2" >Load Video</button>
    </div>
  </form>

  <div id="video-controls"></div>

  <div id="slider"></div>


  <div class="ytplayer-wrapper">
    <div id="player"></div>    
  </div>
  <div class="roll-controls">
      <div class="video-info">
        <div id="echo"></div>
        <div id="current-time"></div>    
      </div>
    <%= content_tag :a, (content_tag :i, "Play Clip", :class => "icon-play"), :class => "btn play-clip"%> 
  </div>

  <%= form_for @video do |f| %>
      <%= f.text_field :name, :placeholder => "Give your clip a name" %> <br />
      <%= f.hidden_field :youtube_id, :value => "DE9NsrKzSq8" %> <br />
      <%= f.hidden_field :start_time, :value => 470 %> <br />
      <%= f.hidden_field :end_time, :value => 475 %> <br />
      <%= f.submit 'Create my Clip', :class => 'btn btn-info' %>
  <% end %>

</div>



