<!-- <div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
	<%= link_to "Roller", '#', id: "logo" %>
	<nav>
	    <ul class="nav pull-right">
	    	<li><%= link_to "Home", root_path %></li>
		    <li><%= link_to "Videos", videos_path %></li>
		    <li><%= link_to "Help",    '#' %></li>
	    </ul>
	</nav>
    </div>
</div>
 -->
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
	    	<li><%= link_to "Home", root_path %></li>
		    <li><%= link_to "Videos", videos_path %></li>
		    <li><%= link_to "Help",    '#' %></li>
        </ul>
        <h3 class="muted">Roller</h3>
      </div>
